<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Reception Desk</title>
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- Stylesheets -->
<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7COpen+Sans:400,700,800" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,500&display=swap" rel="stylesheet">
<!--	icons-->
<%
=begin%>
 <link href="css/icons/flat-icons/font/flaticon.css" rel="stylesheet"> 
<%
=end%>

<link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">

<link href="assets/vendors/icon_fonts/css/icon_set_1.css" rel="stylesheet">
<link href="assets/vendors/icon_fonts/css/icon_set_2.css" rel="stylesheet">
<link href="assets/vendors/icon_fonts/css/icon_set_3.css" rel="stylesheet">
<link href="assets/vendors/icon_fonts/css/icon_set_4.css" rel="stylesheet">

<!-- biko hapa -->
<link href="assets/vendors/icon_fonts/css/icon_set_3.css" rel="stylesheet">



<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Pacifico&display=swap" rel="stylesheet">

<%
=begin%>
 <link href="assets/vendors/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet"> 
<%
=end%>

<!--animation-->
<link href="assets/vendors/animate/animate.min.css" rel="stylesheet">
<link href="assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
<link href="assets/vendors/bootstrap-select-1.13.14/css/bootstrap-select.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">


<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]--> 
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class=""> 
  
  <!-- Preloader -->
  <div class="preloader d-none">
	<p>RevenueSure By</p>
	<img src="assets/img/logos/nouveta-orange.svg">
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-Sm-12 col-md-8 col-lg-6 P-3 pt-5 pb-5">
        <div class="card d-flex justify-content-center align-items-center confirm">
          <div class="card-header w-100">
            <div class="">
              <img src="assets/img/logos/bookinn.png" style="height: 55px;">
            </div>
            <h6 class="text-uppercase"><strong>Payment Confirmation</strong></h6>
          </div>
          <div class="card-body">
            <div class="the-header">
              <span class="" style="color: f67614;">
                <i class="icon_check_alt2"></i>
              </span>
              <h3 class="mb-4 lora text-black">Payment Received</h3>
              <div class="font-14">
                <p>Hello Mr Sherehe</p>
                <p>Thank you for your payment of <strong>KES 63,250</strong> on <strong>Jan 6, 2021</strong> via Mpesa <strong>0704****12</strong></p>
                <p class="font-12px">We look forward to seeing you again! </p>
                <h2 class="script text-black">Thankyou<span><img src="assets/img/heart.svg" height="25px"></span></h2>
                <hr>
                <strong class="text-uppercase">Payment Details</strong>
                <div class="pay-details">
                  <div>
                    <span>Payment Amount</span>
                    <span>KES 63,250</span>
                  </div>

                  <div>
                    <span>Payment Date</span>
                    <span>Mar 4, 2020</span>
                  </div>

                  <div>
                    <span>Package</span>
                    <span>Presidential Suite (Half Board)</span>
                  </div>

                  <div>
                    <span>Receipt Number</span>
                    <span>SDSDF46546</span>
                  </div>

                  <div class="d-none">
                    <span>For Bill No.</span>
                    <span>SE5289</span>
                  </div>
                  <hr>

                  <div>
                    <span><a class="text-info" href="receipt/receipt/receipt.htm">Print Receipt <i class="mdi mdi-printer ml-2"></i></a></span>
                    <span></span>
                    
                  </div>

                </div> 
              </div>

            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>

</div>
<!--End pagewrapper--> 

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="assets/vendors/wow/wow.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<script src="assets/vendors/automatic-Input/jquery.maskx.js"></script>


<!-- date picker -->
<script src="assets/vendors/moment/moment.min.js"></script> 
<script src="assets/vendors/flatpickr/flatpickr.min.js"></script> 


<script src="assets/js/main.js"></script> 







</body>
</html>